extends  ../_skeleton

//- Includes


block variables
  - var activeCategory = 'pages'
  - var pageName = '503 Page'

block page
  // Page Header
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    path: ['503'],
    bgImage: 'bg-image-1-1920x238'
  })

  // 503
  section.section.section-md.bg-white.text-center
    .container
      h3 Service is Unavailable
      p.ls-05 The page requested couldn't be found - this could be due to a spelling error in the URL or a removed page.
      .group-sm.group-middle
        a.button.button-default.button-ujarak(href='index.html') Go to home page
        a.button.button-primary.button-ujarak(href='contact-us.html') Contact us
            
  ="\n"

  include ../sections/_footer-classic