extends  ../_skeleton

//- Includes
include ../elements/_ui-inline-subscribe-form
include ../elements/_countdown

block variables
  - var activeCategory = 'pages'
  - var pageName = 'Coming Soon'

block page
  // Page Header
  include ../sections/_header-classic

  // Coming Soon
  section.section.section-xl.bg-image.text-center(style='background-image: url(images/bg-image-7-1920x1155.jpg)')
    .container
      h3 We’re getting ready to launch in
      .block-xl
        +countdown({ to: '2019-12-31' })
          
      h5 Stay tuned and subscribe to our newsletter 
      +inline-subscribe-form({
        classMod: 'box-width-2 box-centered form_inline-centered'
      })
      
  ="\n"

  include ../sections/_footer-classic