extends  ../_skeleton

block variables
  - var activeCategory = 'pages'
  - var pageName = 'Search results'

block page
  // Page Header
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    path: [pageName],
    bgImage: 'bg-image-1-1920x238'
  })
    
  // Search results
  section.section-md.section.bg-white
    .container
      .row.justify-content-sm-center
        .col-lg-10.col-xl-9
          // RD Search
          form.rd-search.form_inline(action="search-results.html", method="GET", data-search-live="rd-search-results-live")
            .form-wrap
              label(for="rd-search-form-input" class="form-label") Enter your search request...
              input(class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off")
            .form-wrap.form-button
              button.button.button-primary.button-ujarak(type='submit') Search
                
          .rd-search-results
  ="\n"
  
  // Page Footer
  include ../sections/_footer-classic