extends  ../_skeleton

//- Includes
  
block variables
  - var activeCategory = 'services'
  - var pageName = 'Services'

block page
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    path: [pageName],
    bgImage: 'bg-image-1-1920x238',
    customContent: true
  })
    h2 Services

    
  // Pricing Tables
  section.section.section-md.bg-white.text-center
    .container
      include ../includes/_range-pricing-modern
  ="\n"
    
  // All Our Plans Include
  section.section.section-sm.bg-white.text-center
    .container
      h2 What We Offer
      .row.row-30
        include ../includes/_cols-key-features
  ="\n"

  include ../sections/_section-questions

  // Page Footer
  include ../sections/_footer-classic

