extends  ../_skeleton

//- Includes
include ../elements/_ui-card

block variables
  - var activeCategory = 'pages'
  - var pageName = 'Tabs and Accordions'

block page
  // Page header
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    path: ['Tabs & Accordions'],
    bgImage: 'bg-image-1-1920x238'
  })

  +page-title({
    title: pageName,
    text: 'With modern and intuitive interface of tabs and accordions, you can control content to be organized within a single frame.'
  })
    .row.justify-content-xl-center
      .col-xl-10
        h4 Horizontal Tabs
        // Bootstrap tabs 
        #tabs-1.tabs-custom.tabs-horizontal.tabs-corporate
          // Nav tabs
          ul.nav.nav-tabs
            li.nav-item: a.nav-link.active(href='#tabs-1-1' data-toggle='tab') Tab 1
            li.nav-item: a.nav-link(href='#tabs-1-2' data-toggle='tab') Tab 2
            li.nav-item: a.nav-link(href='#tabs-1-3' data-toggle='tab') Tab 3
            li.nav-item: a.nav-link(href='#tabs-1-4' data-toggle='tab') Tab 4

          // Tab panes
          .tab-content
            div#tabs-1-1.tab-pane.fade.show.active
              p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly.  
              p Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.

            div#tabs-1-2.tab-pane.fade
              p The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click.  
              p We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.  With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. 

            div#tabs-1-3.tab-pane.fade
              p We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.  
              p Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us.

            div#tabs-1-4.tab-pane.fade
              p Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly.  
              p You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.
  ="\n"

  .divider

  // Vertical Tabs
  section.section.section-md.bg-white.text-center
    .container
      h4 Vertical Tabs
      .row
        .col-xl-11
          // Bootstrap tabs
          #tabs-2.tabs-custom.tabs-vertical.tabs-corporate
            // Nav tabs
            ul.nav.nav-tabs
              li.nav-item: a.nav-link.active(href='#tabs-2-1' data-toggle='tab') Tab 1
              li.nav-item: a.nav-link(href='#tabs-2-2' data-toggle='tab') Tab 2
              li.nav-item: a.nav-link(href='#tabs-2-3' data-toggle='tab') Tab 3
              li.nav-item: a.nav-link(href='#tabs-2-4' data-toggle='tab') Tab 4
              li.nav-item: a.nav-link(href='#tabs-2-5' data-toggle='tab') Tab 5

            // Tab panes
            .tab-content
              div#tabs-2-1.tab-pane.fade.show.active
                p We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.   
                p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. 

              div#tabs-2-2.tab-pane.fade
                p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly.
                p We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.

              div#tabs-2-3.tab-pane.fade
                p We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.   
                p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly.

              div#tabs-2-4.tab-pane.fade
                p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly.
                p We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.

              div#tabs-2-5.tab-pane.fade
                p We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.   
                p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly.
  ="\n"

  // Accordion
  section.section.section-md.bg-gray-light.text-center
    .container
      h4 Accordion
      // Bootstrap collapse
      #accordion1.card-group.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='true')
        .row.row-30
          .col-md-6
            +card({ 
              first: true,
              cardClass: 'card-corporate',
              parentId: 'accordion1',
              number: '1',
              header: 'Can I track my order?'
            })
              p Yes, you can! After placing your order you will receive an order confirmation via email. Each order starts production 15 minutes after your order is placed. Within a few hours of you placing your order, you will receive an expected delivery time. When the order will be ready for delivery, you will receive another email with the tracking number and a link to trace the order online with the courier.
              
            +card({
              cardClass: 'card-corporate',
              parentId: 'accordion1',
              number: '2',
              header: 'How can I change something in my order?'
            })
              p If you need to change something in your order, please contact us immediately. We usually process orders within 30 minutes, and once we have processed your order, we will be unable to make any changes. 

            +card({
              cardClass: 'card-corporate',
              parentId: 'accordion1',
              number: '3',
              header: 'How can I pay for my order?'
            })
              p We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.

          .col-md-6
            +card({
              cardClass: 'card-corporate',
              parentId: 'accordion1',
              number: '4',
              header: 'Can I return an item?'
            })
              p Please contact our administrators for more information on returning products purchased on our website.
            +card({
              cardClass: 'card-corporate',
              parentId: 'accordion1',
              number: '5',
              header: 'When will my order be delivered?'
            })
              p Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within 10 business days.
      
            +card({
              cardClass: 'card-corporate',
              parentId: 'accordion1',
              number: '6',
              header: 'Do you provide any scripts?'
            })
              p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.TemplateTuning.com If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.
  ="\n"

  // Page Footer
  include ../sections/_footer-classic

