//- Includes
include ../elements/_ui-box-alice
  
.col-md-6.col-lg-4
  +box-alice({
    icon: 'linearicons-document2',
    title: 'Personal Documents'
  })
    p Having personal documents translated by our team is fast and confidential.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'linearicons-clipboard-pencil',
    title: 'Legal Translation'
  })
    p Legal translation is the translation of legal documents, terminology, and related concepts.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'linearicons-files',
    title: 'Technical Translation'
  })
    p We specialize in complex technical translation that requires the best professionals.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'box-alice__icon-sm linearicons-bookmark',
    title: 'Apostille & Legalization'
  })
    p Validate your documents for their use overseas with our professional Apostille services.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'box-alice__icon-md linearicons-library',
    title: 'Proofreading Services'
  })
    p We’re happy to proofread any document, even if we didn’t translate it for you.

.col-md-6.col-lg-4
  +box-alice({
    icon: 'linearicons-bubbles',
    title: 'Interpreting Services'
  })
    p Metaphorist offers consecutive interpretation services in over 170 languages.
