.pricing-table.pricing-table-creative
  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item: .pricing-table__item-inner
    p.pricing-table__item-title Basic

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 3.99
      p.pricing-table__item-price-details per month

    .pricing-table__item-control: .button-wrap
      a.button.button-default-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li Advertising translation
      li Banking translation
      li GDPR translation
      li Software translation

  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item.pricing-table-creative__item_prefered: .pricing-table__item-inner
    p.pricing-table__item-title Power

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 6.99
      p.pricing-table__item-price-details per month

    .pricing-table__item-control: .button-wrap
      a.button.button-white.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li On-site interpreting
      li Business interpreting
      li Sight translation
      li Video translation

  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item: .pricing-table__item-inner
    p.pricing-table__item-title Ultimate

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 9.99
      p.pricing-table__item-price-details per month

    .pricing-table__item-control: .button-wrap
      a.button.button-default-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li Transcription
      li Proofreading
      li Quality assessment
      li Content summarization