.pricing-table.pricing-table-classic
  // Pricing table item
  article.pricing-table__item.pricing-table-classic__item
    .pricing-table__item-header
      p.pricing-table__item-title Translation

    .pricing-table__item-price
      span.pricing-table__item-price-currency $
      span.pricing-table__item-price-value 3
      .pricing-table__item-price-aside
        span.top 99
        span.bottom mon

    ul.pricing-table__item-features
      li Advertising translation
      li Banking translation
      li GDPR translation
      li Software translation

    .pricing-table__item-control
      a.button.button-md.button-default.button-ujarak(href='#') Order now

  // Pricing table item
  article.pricing-table__item.pricing-table-classic__item.pricing-table-classic__item_prefered
    .pricing-table__item-header
      .pricing-table__item-label Top offer
      p.pricing-table__item-title interpreting

    .pricing-table__item-price
      span.pricing-table__item-price-currency $
      span.pricing-table__item-price-value 6
      .pricing-table__item-price-aside
        span.top 99
        span.bottom mon

    ul.pricing-table__item-features
      li On-site interpreting
      li Business interpreting
      li Sight translation
      li Video translation

    .pricing-table__item-control
      a.button.button-md.button-primary.button-ujarak(href='#') Order now

  // Pricing table item
  article.pricing-table__item.pricing-table-classic__item
    .pricing-table__item-header
      p.pricing-table__item-title Ultimate

    .pricing-table__item-price
      span.pricing-table__item-price-currency $
      span.pricing-table__item-price-value 9
      .pricing-table__item-price-aside
        span.top 99
        span.bottom mon

    ul.pricing-table__item-features
      li Transcription
      li Proofreading
      li Quality assessment
      li Content summarization

    .pricing-table__item-control
      a.button.button-md.button-default.button-ujarak(href='#') Order now