mixin box-veronika(obj)
  // Box Veronika
  article.box-veronika: .box-veronika__inner
    .box-veronika__icon-outer
      .box-veronika__icon(class=obj.icon)
    .box-veronika__main
      h5.box-veronika__title=obj.title
      block