// Swiper
section.section.swiper-container.swiper-slider.swiper_style-1.swiper_height-1.swiper-controls-classic(
data-loop='true'
data-autoplay='5000'
data-simulate-touch='false')
  .swiper-wrapper

    .swiper-slide(data-slide-bg='images/slider-classic-slide-2-1920x710.jpg')
      .swiper-slide-caption
        .container
          .block-md
            h1(data-caption-animate='fadeInUpSmall') Ensuring The Highest Quality Of Translation
            p.text-style-2(data-caption-animate='fadeInUpSmall' data-caption-delay='200') Welcome to Metaphorist, the industry-leading translation & interpreting company. We are helping companies to easily reach their target audiences.
            a.button.button-lg.button-primary.button-ujarak(href='services.html' data-caption-animate='fadeInUpSmall' data-caption-delay='300') read more

    .swiper-slide(data-slide-bg='images/slider-classic-slide-1-1920x710.jpg')
      .swiper-slide-caption
        .container
          .block-md
            h1(data-caption-animate='fadeInUpSmall') Delivering the Best Business Translation
            p.text-style-2(data-caption-animate='fadeInUpSmall' data-caption-delay='200' ) Established in 1999, today our company is the synonym of the top-notch translation standards and an important partner of the biggest companies.
            a.button.button-lg.button-primary.button-ujarak(href='services.html' data-caption-animate='fadeInUpSmall' data-caption-delay='300') read more




  .swiper-pagination

  .swiper-button-prev
  .swiper-button-next
="\n"
