
// Cloud Solutions
section.section.section-lg.bg-white.text-center
  .container
    .row.row-50.justify-content-md-center
      .col-md-6.col-lg-4
        // Box Chloe
        article.box-chloe.box-chloe_primary
          .box-chloe__icon.icon-gradient.linearicons-compare
          .box-chloe__main
            h4.box-chloe__title Translation Memories
            p.box-chloe__text We use translation memories to increase the speed and quality of routine translation tasks.
            a.button.button-extra-sm.button-default.button-ujarak(href='services.html') View Details

      .col-md-6.col-lg-4
        // Box Chloe
        article.box-chloe.box-chloe_secondary
          .box-chloe__icon.icon-gradient.linearicons-laptop-phone
          .box-chloe__main
            h4.box-chloe__title Desktop Publishing
            p.box-chloe__text Desktop Publishing tools allow us to maintain the proper layout of projects related to graphic design & localization.
            a.button.button-extra-sm.button-default.button-ujarak(href='services.html') View Details

      .col-md-6.col-lg-4
        // Box Chloe 
        article.box-chloe.box-chloe_tertiary
          .box-chloe__icon.icon-gradient.linearicons-document
          .box-chloe__main
            h4.box-chloe__title Terminology Management
            p.box-chloe__text Terminology management helps achieve consistent, accurate translations by using tools to store & retrieve terms.
            a.button.button-extra-sm.button-default.button-ujarak(href='services.html') View Details
="\n"

// Pricing Tables
section.section.section-md.bg-gray-light.text-center.oh
  .container.wow.fadeInUpSmall
    h2 Pricing Plans
    include ../includes/_pricing-table-classic
="\n"

// Why Choose Us
section.section.section-md.bg-white.text-center
  .container
    h2 What We Offer
    .row.row-30.wow.fadeIn
      include ../includes/_cols-key-features
="\n"

// Facts
section.section.parallax-container(data-parallax-img='images/bg-image-2-1920x578.jpg')
  .parallax-content
    .section-lg.text-center.text-sm-left
      .container
        .row.row-50.flex-md-row-reverse.justify-content-md-between.align-items-center.align-items-lg-start
          .col-md-5.wow.fadeInRightSmall
            .box-width-3.box-centered
              h2.line-height-custom Some Facts About Us
              p.text-style-1 More than 100,000 regular clients
              a.button.button-lg.button-lg-big.button-primary.button-ujarak(href='contact-us.html') Get in Touch
          .col-md-7.wow.fadeInLeftSmall
            .block-lg
              .row.row-style-1
                .col-sm-6: .col-inner
                  // Box counter
                  article.box-counter.box-counter_modern
                    .box-counter__main
                      .box-counter__icon.icon-gradient.linearicons-diamond2
                      span 1.6
                      span.small k
                    p.box-counter__title Translated Pages

                .col-sm-6: .col-inner
                  // Box counter
                  article.box-counter.box-counter_modern
                    .box-counter__main
                      .box-counter__icon.icon-gradient.linearicons-laptop
                      .counter 860
                    p.box-counter__title Finished Projects

                .col-sm-6: .col-inner
                  // Box counter
                  article.box-counter.box-counter_modern
                    .box-counter__main
                      .box-counter__icon.icon-gradient.linearicons-library
                      .counter 800
                      span.small +
                    p.box-counter__title Supported Languages

                .col-sm-6: .col-inner
                  // Box counter
                  article.box-counter.box-counter_modern
                    .box-counter__main
                      .box-counter__icon.icon-gradient.linearicons-man
                      .counter 99
                      span.small.small_top %
                    p.box-counter__title Satisfied Customers
="\n"

include ../sections/_section-our-clients
include ../sections/_section-partners
