// Partners
section.section.section-md.bg-white.text-center
  .container
    .row.row-50.align-items-sm-center
      .col-sm-6.col-md-3.wow.fadeIn
        a.link-image(href='#'): +png('brand-1-126x68')
      .col-sm-6.col-md-3.wow.fadeIn
        a.link-image(href='#'): +png('brand-2-126x100')
      .col-sm-6.col-md-3.wow.fadeIn
        a.link-image(href='#'): +png('brand-3-134x83')
      .col-sm-6.col-md-3.wow.fadeIn
        a.link-image(href='#'): +png('brand-4-138x55')
="\n"