// Facts
+parallax-section({
  img: 'bg-image-2-1920x566'
})
  .section-lg.text-center
    .container
      h2 Some Facts About Us
      p.text-style-1 More than 100,000 regular clients
      .row.row-30.offset-top-1
        .col-sm-6.col-md-3
          // Box counter
          article.box-counter
            .box-counter__main
              span 1.6
              span.small k
            .box-counter__divider
            p.box-counter__title Translated Pages

        .col-sm-6.col-md-3
          // Box counter
          article.box-counter 
            .box-counter__main
              .counter 860
            .box-counter__divider
            p.box-counter__title Finished Projects

        .col-sm-6.col-md-3
          // Box counter
          article.box-counter
            .box-counter__main
              .counter 800
              span.small +
            .box-counter__divider
            p.box-counter__title Supported Languages

        .col-sm-6.col-md-3
          // Box counter
          article.box-counter
            .box-counter__main
              .counter 99
              span.small.small_top %
            .box-counter__divider
            p.box-counter__title Satisfied Customers
